# Neon Database URL
DATABASE_URL=postgresql://contact_submitter:your_password@your_endpoint.neon.tech/neondb?sslmode=require

# Gemini API Key (For IdeaForge++)
GEMINI_API_KEY=AIzaSyCXpCTpehAZ99J4WM7zAfoOe9GD2drPXUY
